
  .exit-login {
    width: 30%;
    height: 100vh;
    /* background: blueviolet; */
    position: absolute;
    left: 0%;
    background-image: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);

  }

  .exit-signup {
    width: 30%;
    height: 100vh;
    /* background: blueviolet; */
    position: absolute;
    right: 0%;
    background-image: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
  }

.link-go-to {
    text-decoration: none;
    /* color: white;*/
}

.page__close_auth {
  background: url(https://diprella.com/assets/img/dark_cross.svg) center center no-repeat;
}

.page__close {
  width: 31px;
  height: 31px;
  background-size: 31px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 30;
}

.page__close_login {
  background: url(https://diprella.com/assets/img/login_close.svg) center center no-repeat;
}

.page__close {
  width: 31px;
  height: 31px;
  background-size: 31px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 30;
}